# maven
target/
classes

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
*.idea
*.svn

# eclipse
*.classpath
*.project
*.prefs
.settings
.metadata
.recommenders
RemoteSystemsTempFiles


# mac
.DS_Store